aside {
    width: 18rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -15rem;
    z-index: 100;
    background-color: $primary-font-color;
    padding-top: 80px;

    .burger {
        position: absolute;
        top: 25px;
        right: 0.7rem;
        z-index: 200;
        cursor: pointer;

        .bar {
            width: 1.6rem;
            height: 2px;
            margin: 6px 0;
            background-color: white;
        }
    }

    &.open {
        left: 0;

        #burger {
            .bar.top {
                transform: translateY(8px) rotateZ(45deg);
            }
            //.bar.c
        }
    }

    .item {
        padding: 0.5rem 0.9rem;
        color: white;
        @include flex(row, flex-end, center);
        transition: all 300ms ease-in-out;

        img {
            width: 1.2rem;
            margin-left: 1rem;
        }

        &:hover {
            cursor: pointer;
            background-color: $darker-primary-font-color;
        }
    }
}