<form [formGroup]="form">
    <p class="form-title">Cliente</p>
    <div class="row">
        <div class="col-100">
            <label>Nombre</label>
            <input type="text" formControlName="name">
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <label>CIF</label>
            <input type="text" formControlName="cif">
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <label>Dirección</label>
            <input type="text" formControlName="adress">
        </div>
    </div>
    <div class="row">
        <div class="col-50 p-r">
            <label>Código Postal</label>
            <input type="text" formControlName="cp">
        </div>
        <div class="col-50 p-l">
            <label>Localidad</label>
            <input type="text" formControlName="city">
        </div>
    </div>
    <p class="form-title">Contacto</p>
    <div formGroupName="contact">
        <div class="row">
            <div class="col-50 p-r">
                <label>Nombre</label>
                <input type="text" formControlName="name">
            </div>
            <div class="col-50 p-l">
                <label>Apellidos</label>
                <input type="text" formControlName="surname">
            </div>
        </div>
        <div class="row">
            <div class="col-50 p-r">
                <label>Teléfono</label>
                <input type="text" formControlName="phone">
            </div>
            <div class="col-50 p-l">
                <label>Correo electrónico</label>
                <input type="text" formControlName="email">
            </div>
        </div>
    </div>
    <div class="flex j-end a-center m-t">
        <button class="outline m-r-small" type="button" routerLink="../">Cancelar</button>
        <button type="button" (click)="submitCustomer()">Enviar</button>
    </div>
</form>
