<div class="auth-container">
    <div class="col-50"></div>
    <div class="col-50">
        <form>
            <h1>Registre sus datos</h1>
            <div class="row">
                <div class="col-50 p-r">
                    <label>Nombre</label>
                    <input type="text">
                </div>
                <div class="col-50 p-l">
                    <label>Apellidos</label>
                    <input type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label>Email</label>
                    <input type="email">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label>Contraseña</label>
                    <input type="password">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label>Repita contraseña</label>
                    <input type="password">
                </div>
            </div>
            <div class="flex j-end a-center m-t">
                <button class="outline">Registrar</button>
            </div>
        </form>
    </div>
</div>
