<div class="auth-container">
    <div class="col-50"></div>
    <div class="col-50">
        <form [formGroup]="form" (submit)="signUp()">
            <h1>Registre sus datos</h1>
            <div class="row">
                <div class="col-50 p-r">
                    <label>Nombre</label>
                    <input type="text" formControlName="name">
                </div>
                <div class="col-50 p-l">
                    <label>Apellidos</label>
                    <input type="text" formControlName="surname">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label>Email</label>
                    <input type="email" formControlName="email">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label>Contraseña</label>
                    <input type="password" formControlName="password">
                </div>
            </div>
            <div class="row">
                <div class="col-100">
                    <label>Repita contraseña</label>
                    <input type="password"  formControlName="checkPassword">
                </div>
            </div>
            <div class="flex j-between a-center m-t">
                <p class="link">Si ya dispone de cuenta pulse <span routerLink="/login">aquí</span></p>
                <button type="button" 
                        class="outline"
                        *ngIf="form.invalid || this.form.get('password').value !== this.form.get('checkPassword').value"
                        (click)="setValidation()">
                    Registrar
                </button>
                <button type="submit" 
                        class="outline"
                        *ngIf="form.valid && this.form.get('password').value === this.form.get('checkPassword').value">
                        <span [appLoading]="{showLoading: true, display: 'inline'}">Espere...</span>
                        <span [appLoading]="{showLoading: false, display: 'inline'}">Registrar</span>  
                </button>
            </div>
        </form>
        <div class="auth-valid" *ngIf="showValidation && validationMessages.length > 0">
            <img class="m-r-small" src="../../../assets/img/icons/alert-triangle-white.svg" alt="">
            <ul>
                <li *ngFor="let message of validationMessages">
                    {{message}}
                </li>
            </ul>
        </div>
    </div>
</div>
