<aside>
    <div class="burger">
        <div class="bar top"></div>
        <div class="bar center"></div>
        <div class="bar bottom"></div>
    </div>
    <div class="item">
        Inicio
        <img src="/assets/img/icons/home.svg" alt="">
    </div>
    <div class="item">
        Clientes
        <img src="/assets/img/icons/customers.svg" alt="">
    </div>
    <div class="item">
        Presupuestos
        <img src="/assets/img/icons/budgets.svg" alt="">
    </div>
    <div class="item">
        Usuarios
        <img src="/assets/img/icons/users.svg" alt="">
    </div>
</aside>
