<div class="container show">
    <div class="home-card-grid">
        <div class="card home">
            <div>
                <h1>Clientes</h1>
                <img src="/assets/img/icons/customers-front.svg">
            </div>
            <div>
                <button routerLink="/customers">Acceder</button>
            </div>
        </div>
        <div class="card home">
            <div>
                <h1>Presupuestos</h1>
                <img src="/assets/img/icons/budgets-front.svg">
            </div>
            <div>
                <button>Acceder</button>
            </div>
        </div>
        <div class="card home">
            <div>
                <h1>Usuarios</h1>
                <img src="/assets/img/icons/users-front.svg">
            </div>
            <div>
                <button routerLink="/users">Acceder</button>
            </div>
        </div>
    </div>
</div>