<div class="container show">
    <div class="home-card-grid">
        <div class="card home" *ngIf="userRole === 'user'">
            <div>
                <p>Bienvenido a la aplicación, en breve le será asignado el acceso a su workplace</p>
            </div>
        </div>
        <div class="card home" *ngIf="userRole === 'sales' || userRole === 'admin'">
            <div>
                <h1>Clientes</h1>
                <img src="/assets/img/icons/customers-front.svg">
            </div>
            <div>
                <button routerLink="/customers">Acceder</button>
            </div>
        </div>
        <div class="card home" *ngIf="userRole === 'sales' || userRole === 'admin'">
            <div>
                <h1>Presupuestos</h1>
                <img src="/assets/img/icons/budgets-front.svg">
            </div>
            <div>
                <button routerLink="/budgets">Acceder</button>
            </div>
        </div>
        <div class="card home" *ngIf="userRole === 'admin'">
            <div>
                <h1>Usuarios</h1>
                <img src="/assets/img/icons/users-front.svg">
            </div>
            <div>
                <button routerLink="/users">Acceder</button>
            </div>
        </div>
    </div>
</div>